.u-section-1 .u-sheet-1 {
  min-height: 62px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 10px 309px 0 320px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 220px;
    margin-right: 209px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 110px;
    margin-right: 99px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 20px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 243px;
}

.u-section-2 .u-form-1 {
  height: 559px;
  width: 904px;
  margin: 0 auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}