.u-section-1 .u-sheet-1 {
  min-height: 62px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 10px auto 0;
}.u-section-2 .u-sheet-1 {
  min-height: 201px;
}

.u-section-2 .u-form-1 {
  height: 559px;
  width: 904px;
  margin: 0 auto 47px;
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}