.u-section-1 .u-sheet-1 {
  min-height: 59px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 0 auto 7px 386px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 115px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 473px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 7px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 406px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-shape-1 {
  height: 337px;
  width: 489px;
  margin: 28px auto 0 21px;
}

.u-section-2 .u-image-1 {
  height: 319px;
  width: 500px;
  margin: -364px 0 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 406px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 8px;
}

.u-section-2 .u-text-1 {
  margin: 28px 7px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.375rem;
  margin: 21px 0 0 14px;
}

.u-section-2 .u-text-3 {
  margin: 0 7px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-bottom: 0;
  }

  .u-section-2 .u-shape-1 {
    height: 284px;
    width: 396px;
    margin-top: 79px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    height: 298px;
    width: 398px;
    margin-top: -362px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 335px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-2 .u-shape-1 {
    width: 360px;
  }

  .u-section-2 .u-image-1 {
    height: 270px;
    width: 360px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 21px;
  }

  .u-section-2 .u-shape-1 {
    height: 262px;
    width: 262px;
    margin-top: 103px;
  }

  .u-section-2 .u-image-1 {
    height: 297px;
    width: 280px;
    margin-top: -365px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 119px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
  padding: 29px 494px 29px 492px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 244px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.875rem;
  text-transform: none;
  margin: 0 auto 0 -2px;
  padding: 32px 331px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  margin: -113px 0 0 auto;
  padding: 43px 49px 44px 48px;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.875rem;
  margin: 20px auto 0 -1px;
  padding: 32px 310px;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  margin: -112px 1px 0 auto;
  padding: 43px 39px 44px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 568px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.875rem;
  align-self: flex-end;
  background-image: none;
  margin: 0 267px 0 0;
  padding: 32px 330px 32px 329px;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  align-self: flex-end;
  margin: -112px auto 0 873px;
  padding: 43px 47px 44px;
}

.u-section-3 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  align-self: flex-end;
  font-size: 1.875rem;
  background-image: none;
  margin: 20px auto 0 1px;
  padding: 32px 320px 32px 319px;
}

.u-section-3 .u-btn-9 {
  background-image: none;
  margin: -112px 0 0 870px;
  padding: 43px 43px 44px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 106px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 32px;
    margin-bottom: -32px;
    padding-right: 393px;
    padding-left: 392px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 250px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 2px;
  }

  .u-section-3 .u-btn-2 {
    align-self: center;
    margin-top: 54px;
    margin-left: 0;
    padding-left: 214px;
    padding-right: 214px;
  }

  .u-section-3 .u-btn-3 {
    align-self: center;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-3 .u-btn-4 {
    align-self: center;
    margin-top: 32px;
    margin-left: 0;
    padding-left: 193px;
    padding-right: 193px;
  }

  .u-section-3 .u-btn-5 {
    margin-right: 0;
    padding-right: 56px;
    padding-left: 55px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-3 .u-btn-6 {
    margin-top: 9px;
    margin-right: auto;
    margin-left: -2px;
    padding-left: 215px;
    padding-right: 215px;
  }

  .u-section-3 .u-btn-7 {
    margin-right: 0;
    margin-left: auto;
    padding-left: 62px;
    padding-right: 62px;
  }

  .u-section-3 .u-btn-8 {
    margin-top: 19px;
    margin-left: 0;
    padding-left: 204px;
    padding-right: 204px;
  }

  .u-section-3 .u-btn-9 {
    margin-left: auto;
    padding-left: 57px;
    padding-right: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-3 .u-btn-1 {
    padding-right: 283px;
    padding-left: 282px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-3 .u-btn-2 {
    padding-right: 117px;
    padding-left: 116px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: -112px;
    padding-right: 53px;
    padding-left: 52px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 20px;
    padding-right: 96px;
    padding-left: 95px;
  }

  .u-section-3 .u-btn-5 {
    padding-left: 43px;
    padding-right: 43px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 420px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-btn-6 {
    margin-top: -256px;
    margin-left: 0;
    padding-left: 115px;
    padding-right: 115px;
  }

  .u-section-3 .u-btn-7 {
    padding-left: 51px;
    padding-right: 51px;
  }

  .u-section-3 .u-btn-8 {
    margin-top: 18px;
    padding-left: 105px;
    padding-right: 105px;
  }

  .u-section-3 .u-btn-9 {
    padding-left: 46px;
    padding-right: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 10px;
  }

  .u-section-3 .u-btn-1 {
    padding-right: 193px;
    padding-left: 192px;
  }

  .u-section-3 .u-btn-2 {
    align-self: center;
    margin-top: 109px;
    padding-right: 70px;
    padding-left: 69px;
  }

  .u-section-3 .u-btn-3 {
    align-self: center;
    margin-top: -113px;
    padding-right: 10px;
    padding-left: 9px;
  }

  .u-section-3 .u-btn-4 {
    align-self: center;
    margin-top: 64px;
    padding-right: 49px;
    padding-left: 48px;
  }

  .u-section-3 .u-btn-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 215px;
  }

  .u-section-3 .u-btn-6 {
    margin-top: -146px;
    padding-left: 71px;
    padding-right: 71px;
  }

  .u-section-3 .u-btn-7 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-btn-8 {
    margin-top: 64px;
    padding-left: 61px;
    padding-right: 61px;
  }

  .u-section-3 .u-btn-9 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1303px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 7px 93px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 599px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 27px;
    margin-right: 0;
    padding: 7px 65px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 0;
    margin-right: auto;
    padding-top: 14px;
    padding-bottom: 15px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 10px;
    margin-right: 0;
    padding: 7px 44px 7px 43px;
  }

  .u-section-3 .u-btn-5 {
    margin-top: 0;
    margin-right: auto;
    padding-top: 14px;
    padding-bottom: 15px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 598px;
  }

  .u-section-3 .u-btn-6 {
    align-self: center;
    margin-top: -323px;
    margin-right: 0;
    padding: 7px 64px 7px 63px;
  }

  .u-section-3 .u-btn-7 {
    align-self: center;
    margin-top: 0;
    margin-right: 72px;
    padding: 14px 8px 15px;
  }

  .u-section-3 .u-btn-8 {
    align-self: center;
    margin-top: 10px;
    margin-right: 0;
    padding: 7px 54px 7px 53px;
  }

  .u-section-3 .u-btn-9 {
    margin-top: 0;
    margin-right: 72px;
    padding: 14px 3px 15px;
  }
}