.u-section-1 .u-sheet-1 {
  min-height: 730px;
}

.u-section-1 .u-form-1 {
  height: 559px;
  width: 904px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  align-self: center;
  margin: -57px auto 0;
  padding: 10px 30px 10px 29px;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  margin: 43px auto 60px;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}